<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

<div class="container mt-5">

    <div class="card shadow p-4">
        <h2>Welcome {{ name }} 🚀</h2>
        <p class="text-muted">Smart Interview Preparation Assistant</p>

        <a href="/upload" class="btn btn-primary">Upload Resume</a>
        <a href="/logout" class="btn btn-danger">Logout</a>
    </div>

</div>

</body>
</html>