<!DOCTYPE html>
<html>
<head>
    <title>Smart Interview Assistant</title>
</head>
<body style="text-align:center; font-family:Arial; margin-top:80px;">

    <h1>Smart Interview Assistant 🤖</h1>
    <p>AI-powered Resume Analyzer & Interview Prep System</p>

    <br><br>

    <!-- MAIN LINKS -->
    <a href="/register">
        <button style="padding:10px 20px;">Register</button>
    </a>

    <a href="/login">
        <button style="padding:10px 20px;">Login</button>
    </a>

    <a href="/dashboard">
        <button style="padding:10px 20px;">Dashboard</button>
    </a>

</body>
</html>